{% extends "../layout/main.html" %}

{% block pagetitle %}
	Instances for version {{ version.version }} of {{ version.application.name }}
{% end %}

{% block body %}
	<div class="btn-group btn-group-header">
		<a href="/application/{{ version.application.id }}" class="btn">Back to {{ version.application.name }}</a>
	</div>

	{% for instance_type in version.instance_types %}
		<h2>Instance type: {{ instance_type.name }}</h2>
		<table class="table table-striped table-bordered">
			<tr>
				<th>ID</th>
				<th>Node</th>
				<th>Port</th>
				<th>Created</th>
				<th>State</th>
			</tr>
			{% for instance in instance_type.instances %}
				<tr>
					<td>
						<code>{{ instance.instance_id[0:8] }}</code>
						<a href="#" class="toggle {{ instance.instance_id }}"></a>
					</td>
					<td>
						<a href="/node/{{ instance.node.id }}">{{ instance.node.name }}</a>
					</td>
					<td>
						{{ instance.port }}
					</td>
					<td>
						{{ instance.created.isoformat() }}
					</td>
					<td>
						<span class="instance-{{ instance.state }}">{{ nice_state(instance.state) }}</span>
					</td>
				</tr>
				<tr>
					<td colspan="5" class="instance-log-container {{ instance.instance_id }}" data-instance="{{ instance.instance_id }}">
					</td>
				</tr>
			{% end %}
		</table>
	{% end %}
{% end %}
