*.pyc
*.*~
*.swp
.DS_Store
/.coverage
/htmlcov/
/paasmaker.pid
/documentation/build/
/documentation/websupport/
/scratch/
/paasmaker-development.db
/paasmaker.yml
/thirdparty/
/paasmaker_env_web.sh
/paasmaker/templates/*/*.handlebars.js