# Core
tornado==2.4.1
sqlalchemy>=0.7.5
pyyaml
colander>=0.9.9
ws4py==0.2.2
pypubsub
tornado-redis==0.0.7
pika==0.9.5
requests==1.1.0
virtualenv
python-dateutil>=1.5

# For database migrations.
alembic

# MySQL service.
torndb

# Postgres service
momoko==0.5.0

# MongoDB (should be optional, but isn't yet)
pymongo

# Testing.
mock
coverage

# For documentation.
sphinx
