# Core
tornado
sqlalchemy>=0.7.5
pyyaml
colander>=0.9.9
ws4py==0.2.2
pypubsub
tornado-redis
pika==0.9.5
requests==0.14.2
virtualenv
python-dateutil>=1.5

# For database migrations.
alembic

# MySQL service.
torndb

# Postgres service
momoko==0.5.0

# Testing.
mock
coverage

# For documentation.
sphinx