tornado
sqlalchemy
pyyaml
colander>=0.9.9
ws4py
pypubsub
tornado-redis
pika==0.9.5
mock
# TODO: smallform pulls in all of pyramid which is not desirable.
smallform
# TODO: This is only required for the documentation.
sphinx
