{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}<h1>Active Plugins</h1>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Plugin</th>
			<th>Symbolic Name</th>
			<th>Configuration</th>
			<th>Available Modes</th>
		</tr>

		{{# each plugins }}
				<tr>
					<td><strong>{{ title }}</strong></td>
					<td>{{name}}</td>
					<td>
						{{# if options }}
							<pre>{{ options }}</pre>
						{{/if}}
					</td>
					<td><ul>
						{{# each modes }}
							<li>{{ this }}</li>
						{{/each}}
					</ul></td>
				</tr>
		{{/each}}
	</table>

