{% extends "../layout/main.html" %}

{% block pagetitle %}
	<h1>Active Plugins</h1>
{% end %}

{% block body %}
	<table class="table table-striped table-bordered">
		<tr>
			<th>Plugin</th>
			<th>Symbolic Name</th>
			<th>Configuration</th>
			<th>Available Modes</th>
		</tr>

		{% for name, plugin in plugins.iteritems() %}
			{% if not 'JOB' in plugin['modes'] %}
				<tr>
					<td><strong>{{ plugin['title'] }}</strong></td>
					<td>{{ name }}</td>
					<td>
						{% if len(plugin['options']) > 0 %}
							<pre>{{ json.dumps(plugin['options'], indent=4, sort_keys=True) }}</pre>
						{% end %}
					</td>
					<td><ul>
						{% for mode in plugin['modes'] %}
							<li>{{ mode }}</li>
						{% end %}
					</ul></td>
				</tr>
			{% end %}
		{% end %}
{% end %}
