{% extends "../layout/main.html" %}

{% block pagetitle %}
	Role Allocation List
{% end %}

{% block body %}
	<div class="btn-group btn-group-header">
		<a href="/role/allocation/assign" class="btn"><i class="icon-random"></i> Allocate</a>
	</div>

	<table class="table table-striped table-bordered">
		<tr>
			<th>User</th>
			<th>Role</th>
			<th>Workspace</th>
			<th>Action</th>
		</tr>
		{% for allocation in allocations %}
			<tr>
				<td>
					<a href="/user/{{ allocation.user.id }}">
						{{ allocation.user.name }}
					</a>
				</td>
				<td>
					<a href="/role/{{ allocation.role.id }}">
						{{ allocation.role.name }}
					</a>
				</td>
				<td>
					{% if allocation.workspace %}
						<a href="/workspace/{{ allocation.workspace.id }}">
							{{ allocation.workspace.name }}
						</a>
					{% else %}
						Global
					{% end %}
				</td>
				<td>
					<div class="table-button-box">
						<form method="POST" action="/role/allocation/unassign">
							<input type="hidden" name="allocation_id" value="{{ allocation.id }}" />
							<input type="submit" class="btn btn-mini btn-danger" value="Remove" />
						</form>
					</div>
				</td>
			</tr>
		{% end %}
	</table>

	{% module Template("include/pagination.html", page_data=allocations_pagination) %}
{% end %}
