{% extends "../layout/main.html" %}

{% block pagetitle %}
	Role Editor
{% end %}

{% block body %}
	<form method="POST">
		<label for="name">Name:</label>
		<input name="name" id="name" type="text" value="{{ role.name }}" />
		{% raw format_form_error('name') %}

		<p>Permissions:</p>
		{% for permission in available_permissions %}
			<label class="checkbox">
				<input type="checkbox" name="permissions.[]" {% if permission in role.permissions %}checked="checked"{% end %} value="{{ permission }}" />
				{{ permission }}
			</label>
		{% end %}

		<button type="submit" class="btn">Submit</button>
	</form>
{% end %}
