{% extends "../layout/main.html" %}

{% block pagetitle %}
	<h1>Role List</h1>
{% end %}

{% block body %}
	<div class="btn-group btn-group-header">
		{% if user_permissions.has_permission(PERMISSION.ROLE_EDIT, None) %}
			<a class="btn" href="/role/create"><i class="icon-plus"></i> Create Role</a>
		{% end %}
	</div>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Permissions</th>
		</tr>
		{% for role in roles %}
			<tr>
				<td>
					{% if user_permissions.has_permission(PERMISSION.ROLE_EDIT, None) %}<a href="/role/{{ role.id }}">{% end %}
						{{ role.name }}
					{% if user_permissions.has_permission(PERMISSION.ROLE_EDIT, None) %}</a>{% end %}
				</td>
				<td>
					{% raw "<br />".join(role.permissions) %}
				</td>
			</tr>
		{% end %}
	</table>

	{% module Template("include/pagination.html", page_data=roles_pagination) %}
{% end %}
