<h1>Role List</h1>

<div class="btn-group btn-group-header">
	<!-- if user_permissions.has_permission(PERMISSION.ROLE_EDIT, None) -->
		<a class="btn" href="/role/create"><i class="icon-plus"></i> Create Role</a>
</div>

<table class="table table-striped table-bordered">
	<tr>
		<th>Name</th>
		<th>Permissions</th>
	</tr>
	{{#each roles}}
		<tr>
			<td>
				<!-- if user_permissions.has_permission(PERMISSION.ROLE_EDIT, None) -->
				<a href="/role/{{ id }}">
					{{ name }}
				</a>
			</td>
			<td>
				<ul>
					{{#each permissions}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</td>
		</tr>
	{{/each}}
</table>
