{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}
<h1>Role List</h1>

<div class="btn-group btn-group-header">
	{{#ifPermission 'ROLE_EDIT'}}
		<a class="btn" href="/role/create"><i class="icon-plus"></i> Create Role</a>
	{{/ifPermission}}
</div>

<table class="table table-striped table-bordered">
	<tr>
		<th>Name</th>
		<th>Permissions</th>
	</tr>
	{{#each roles}}
		<tr>
			<td>
				{{#ifPermission 'ROLE_EDIT'}}<a href="/role/{{ id }}">{{/ifPermission}}
					{{ name }}
				{{#ifPermission 'ROLE_EDIT'}}</a>{{/ifPermission}}
			</td>
			<td>
				<ul>
					{{#each permissions}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</td>
		</tr>
	{{/each}}
</table>
