{% extends "../layout/main.html" %}

{% block pagetitle %}
	<h1>{{ name }}</h1>
{% end %}

{% block body %}
	{% if ret %}
		<div class="btn-group btn-group-header">
			<a class="btn" href="{{ ret }}">Back to {{ ret_name }}</a>
		</div>
	{% end %}

	{% for job_id in jobs %}
		<div class="job-root well well-small" data-job="{{ job_id }}">
			Loading...
		</div>
	{% end %}
{% end %}

{% block scripts %}
	<script type="text/javascript">
		$(function(){
			// for node jobs list: short-term fix till we ajaxify this page
			var h1_text = $('#main_right_view h1').text().trim();
			var uuid = h1_text.substr(-36);
			if (/^[0-9a-f\-]+$/.test(uuid)) {
				$('#main_right_view h1').text(
					h1_text.substring(0, (h1_text.length - 36))
				).append(
					$('<code class="uuid-shrink" title="' + uuid + '"></code>')
				);
				pm.widgets.uuid.update();
			}
		});
	</script>
{% end %}
