
<h1>Workspaces</h1>

<div class="workspace-list clearfix">
	{{% for(var i = 0; i < workspaces.length; i++) { }}
		{{% var workspace = workspaces[i] }}
		<div class="workspace tile">
			<div class="title">
				<a href="/workspace/{{ workspace.attributes.id }}/applications">{{ workspace.attributes.name }}</a>
			</div>
			<div class="body">
				{{% if(context.hasPermission('WORKSPACE_EDIT', workspace.attributes.id)) { }}
					<a href="/workspace/{{ workspace.attributes.id }}">Edit</a>
				{{% } }}
			</div>
		</div>
	{{% } }}
</div>