
<div class="block-load-small loading" style="display: none;">
	<img src="/static/img/load-inline.gif" width="16" height="11" alt="Loading..." />
</div>

<div class="workspace-list">
	{{% for(var i = 0; i < workspaces.length; i++) { }}
		{{% var workspace = workspaces[i] }}
		<div class="workspace workspace-{{ workspace.attributes.id }}">
			<a href="/workspace/{{ workspace.attributes.id }}/applications">{{ workspace.attributes.name }}</a>
			{{% if (context.hasPermission('WORKSPACE_EDIT', workspace.attributes.id)) { }}
				<a href="/workspace/{{ workspace.attributes.id }}" class="btn btn-mini workspace-edit"><i class="icon-edit"></i></a>
			{{% } }}
		</div>
	{{% } }}
</div>

{{% if (context.hasPermission('WORKSPACE_EDIT')) { }}
	<div><a href="/workspace/create"><i class="icon-plus"></i> Create workspace</a></div>
{{% } }}