{% if router_stats %}
	<div class="router-stats well well-small" data-name="{{ router_stats_name }}" data-inputid="{{ router_stats_input_id }}">
		{% set in_primary = True %}
		<div class="primary">
		{% for rset in router_stats_display %}
			{% if not rset['primary'] and in_primary %}
				</div>
				<div class="secondary">
				{% set in_primary = False %}
			{% end %}
			<div class="stats-row stat-{{ rset['key'] }} clearfix">
				<span class="title">{{ rset['title'] }}:</span>
				<span class="value">{{ rset['format'] % router_stats[rset['key']] }}</span>
			</div>
		{% end %}
		</div> {# End of secondary div #}
		<div class="graph">
			Loading...
		</div>
		<div class="btn-group">
			<a href="#" class="show-all btn btn-mini">Show all</a>
			<a href="#" class="show-graph btn btn-mini">Graph</a>
		</div>
	</div>
{% else %}
	<div class="router-no-stats">
		No router stats available.
	</div>
{% end %}