{% extends "../layout/main.html" %}

{% block pagetitle %}
	Workspace Editor
{% end %}

{% block body %}
	<style type="text/css">
	</style>

	<form method="POST">
		<label for="name">Name:</label>
		<input name="name" id="name" type="text" value="{{ workspace.name }}" />
		{% raw format_form_error('name') %}

		<label for="stub">Stub:</label>
		<input name="stub" id="stub" type="text" value="{{ workspace.stub }}" />
		{% raw format_form_error('stub') %}

		<label>Tags:</label>
		{% if workspace._tags is not None %}
			<pre id="foobar-tag-debug">{{ workspace._tags }}</pre>
			<input type="hidden" id="pm_workspace_tags" name="serialised_tags" value="{{ workspace._tags }}">
		{% else %}
			<pre id="foobar-tag-debug"></pre>
			<input type="hidden" id="pm_workspace_tags" name="serialised_tags" value="{}">
		{% end %}
		<div class="workspace-tag-editor pm-tag-editor"></div>
		{% raw format_form_error('tags') %}
		<br />

		<input type="submit" class="btn" value="Submit" />
	</form>
{% end %}

{% block scripts %}
	<script src="{{ static_url("js/libs/jquery.jsoneditor.js") }}"></script>
{% end %}
{% block styles %}
	<link href="{{ static_url("css/tag_editor.css") }}" rel="stylesheet">
{% end %}
