{% extends "../layout/main.html" %}

{% block body %}
	<ul class="breadcrumb">
		<li><a href="/node/list">Nodes</a> <span class="divider">/</span></li>
		<li class="active">{{ node.name }}</li>
	</ul>

	<h1>Node {{ node.name }}</h1>
	
	<ul>
		<li>UUID: <code>{{ node.uuid }}</code></li>
		<li>Route: {{ node.route }}:{{ node.apiport }}</li>
		<li>State: {{ node.state }}</li>
		<li>Uptime: {{ "%0.2f" % node.uptime() }}s (started {{ node.start_time }} UTC)</li>
		<li>Last report: {{ "%0.2f" % node.updated_age() }}s ago ({{ str(node.last_heard) }} UTC)</li>
		<li>Score: {{ "%0.2f" % node.score }}</li>
		<li>
			{% if node.pacemaker %}<i class="icon-calendar"></i> Pacemaker<br />{% end %}
			{% if node.heart %}<i class="icon-heart"></i> Heart<br />{% end %}
			{% if node.router %}<i class="icon-random"></i> Router<br />{% end %}
		</li>
	</ul>

	{% if 'runtimes' in node.tags %}
		<h2>Runtimes</h2>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Versions</th>
			</tr>
			{% for runtime, versions in node.tags['runtimes'].iteritems() %}
				<tr>
					<td>{{ runtime }}</td>
					<td>{{ ", ".join(versions) }}</td>
				</tr>
			{% end %}
		</table>
	{% end %}

	<h2>Instances</h2>
	<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Application</th>
			<th>Version</th>
			<th>State</th>
		</tr>
		{% for instance in node.instances %}
			<tr>
				<td>
					<code>{{ instance.instance_id[0:8] }}</code>
				</td>
				<td>
					<a href="/application/{{ instance.application_instance_type.application_version.application.id }}">
						{{ instance.application_instance_type.application_version.application.name }}
					</a>
				</td>
				<td>
					{{ instance.application_instance_type.application_version.version }}
				</td>
				<td>
					{{ instance.state }}
				</td>
			</tr>
		{% end %}
	</table>

	<h2>Tags</h2>
	<pre>{{ json.dumps(node.tags, indent=4, sort_keys=True) }}</pre>

	<h2>Stats</h2>
	<pre>{{ json.dumps(node.stats, indent=4, sort_keys=True) }}</pre>
{% end %}
