<div id="node_delete_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Delete Node" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Delete Node</h3>
  </div>
  <div class="modal-body">
	<p>Are you sure you want to delete {{name}}?</p>
	<p>This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<form method="POST" action="/node/{{id}}/delete" style="display: inline;">
			<input type="submit" class="btn btn-primary btn-danger" value="Delete Node" />
		</form>
  </div>
</div>