/* Paasmaker CSS */

/* COMMON CSS STYLES */
ul.errors
{
	color: red;
	margin: 0px;
	list-style-type: none;
}

div.btn-group-header
{
	padding-bottom: 5px;
}

div.table-button-box form
{
	display: inline;
	margin: 0px;
}

textarea.example-configuration
{
	width: 100%;
	height: 600px;
	white-space: pre;
	font-family: monospace;
}

/* PAGINATION */
.pagination
{
	text-align: center;
}

/* JOB STATUSES */
.job-root
{
	margin-bottom: 10px;
}

.job-status .state
{
	float: left;
}

.job-status .state span
{
	display: none;
}

.job-status
{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: relative;
}

.job-status.level0
{
	padding-left: 0px;
}

.job-status .toolbox
{
	margin-left: 5px;
	float: left;
}

.job-status .details .title
{
	margin-left: 50px;
	display: block;
}

.job-status .details .summary
{
	margin-left: 50px;
	display: block;
}

.job-status .log
{
	display: none;
}

.job-status .log.no-data
{
	height: auto;
}

/* INSTANCE LOGS */
.instance-log-container pre
{
	height: 150px;
	overflow: auto;
}

/* ROUTER STATS */
.router-stats, .router-no-stats
{
	margin-bottom: 10px;

	float: right;
	right: 0px;

	width: 250px;
}

.router-stats .complete-title
{
	text-align: center;
	font-weight: bold;
}

.router-stats .stats-row .title
{
	display: block;
	float: left;
}

.router-stats .stats-row .value
{
	display: block;
	float: right;
	text-align: right;
}

.router-stats .stats-row .value .diff
{
}

.router-stats .stats-row.stat-1xx_percentage,
.router-stats .stats-row.stat-2xx_percentage,
.router-stats .stats-row.stat-3xx_percentage,
.router-stats .stats-row.stat-4xx_percentage,
.router-stats .stats-row.stat-5xx_percentage
{
	display: none;
}

.router-stats .secondary
{
	display: none;
}

.router-stats .graph
{
	margin-top: 5px;
	display: none;
	height: 100px;
}

.router-stats-collection .router-stats, .router-stats-collection .router-no-stats
{
	float: left;
	margin-right: 10px;
}

.router-stats-collection .router-stats .secondary
{
	display: block;
}

.router-stats-collection .router-stats .graph
{
	display: block;
}

.router-stats-collection .router-stats .btn-group
{
	display: none;
}