{% extends "../layout/main.html" %}

{% block pretitle %}
	{% module Template("include/router_stats.html", router_stats=router_stats, router_stats_name=router_stats_name, router_stats_input_id=router_stats_input_id) %}
{% end %}

{% block pagetitle %}
	Application List - {{ workspace.name }}
{% end %}

{% block body %}
	<div class="button-box">
		<a class="btn" href="/workspace/{{ workspace.id }}/applications/new">Create a new application</a>
	</div>

	<table class="table">
		<tr>
			<th>Application</th>
			<th>Health</th>
			<th>Versions</th>
		</tr>
		{% for application in applications %}
			<tr>
				<td>
					{{ application.name }}
				</td>
				<td>
					{{ application.health }}
				</td>
				<td>
					<a href="/application/{{ application.id }}">
						{{ application.versions.filter(paasmaker.model.ApplicationVersion.deleted == None).count() }} versions
					</a>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
