{% extends "../layout/main.html" %}

{% block pagetitle %}
	{% if new_application %}
		New Application - {{ workspace.name }}
	{% else %}
		New Version - {{ application.name }}
	{% end %}
{% end %}

{% block body %}
	<div class="scm-container">
		{% for scm in scms %}
			<div class="scm {% if last_scm_name == scm['plugin'] %}scm-active{% end %}">
				<h3>{{ scm['title'] }}</h3>
				<div class="inner well well-small">
					<form method="POST">
						<input type="hidden" name="scm" value="{{ scm['plugin'] }}" />

						{% raw scm['form'] %}

						<label for="manifest_path">Manifest Path:</label>
						<input name="manifest_path" id="manifest_path" type="text" value="manifest.yml" required="required" />

						<br />
						<input type="submit" value="Create" class="btn" />
					</form>
				</div>
			</div>
		{% end %}
	</div>
{% end %}
