{% extends "../layout/main.html" %}

{% block pagetitle %}
	Application {{ application.name }}
{% end %}

{% block body %}
	<div class="button-box">
		<a class="btn" href="/application/{{ application.id }}/newversion">Create new version</a>
	</div>

	<table class="table">
		<tr>
			<th>Number</th>
			<th>Current</th>
			<th>State</th>
			<th>Instance Types</th>
			<th>Instances</th>
		</tr>
		{% for version in application.versions %}
			<tr>
				<td>
					<a href="/version/{{ version.id }}">{{ version.version }}</a>
				</td>
				<td>
					{% if version.is_current %}Current{% else %}-{% end %}
				</td>
				<td>
					{{ version.state }}
				</td>
				<td>
					<a href="/version/{{ version.id }}">{{ len(version.instance_types) }}</a>
				</td>
				<td>
					<div class="table-button-box">
						<a class="btn btn-mini" href="/version/{{ version.id }}/instances">Instances</a>
						<form method="POST" action="/version/{{ version.id }}/register">
							<input type="submit" class="btn btn-mini" value="Register" />
						</form>
						<form method="POST" action="/version/{{ version.id }}/start">
							<input type="submit" class="btn btn-mini" value="Start" />
						</form>
						<form method="POST" action="/version/{{ version.id }}/stop">
							<input type="submit" class="btn btn-mini" value="Stop" />
						</form>
						<form method="POST" action="/version/{{ version.id }}/deregister">
							<input type="submit" class="btn btn-mini" value="De Register" />
						</form>
					</div>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
