{% extends "../layout/main.html" %}

{% block pagetitle %}
	Application {{ application.name }}
{% end %}

{% block body %}
	<div class="button-box">
		<a class="btn" href="/application/{{ application.id }}/newversion">Create new version</a>
	</div>

	<table class="table">
		<tr>
			<th>Number</th>
			<th>Current</th>
			<th>State</th>
			<th>Instance Types</th>
			<th>Actions</th>
		</tr>
		{% for version in application.versions %}
			<tr>
				<td>
					<a href="/version/{{ version.id }}">Version {{ version.version }}</a>
				</td>
				<td>
					{% if version.is_current and version.state != constants.VERSION.RUNNING %}
						DOWN
					{% else %}
						{% if version.is_current %}Current{% else %}-{% end %}
					{% end %}
				</td>
				<td>
					{{ version.state }}
				</td>
				<td>
					<a href="/version/{{ version.id }}">{{ len(version.instance_types) }} type(s)</a>
				</td>
				<td>
					<div class="table-button-box">
						<a class="btn btn-mini" href="/version/{{ version.id }}/instances">Instances</a>
						{% if version.state == constants.VERSION.PREPARED %}
							<form method="POST" action="/version/{{ version.id }}/register">
								<input type="submit" class="btn btn-mini" value="Register" />
							</form>
						{% end %}
						{% if version.state == constants.VERSION.READY %}
							<form method="POST" action="/version/{{ version.id }}/start">
								<input type="submit" class="btn btn-mini" value="Start" />
							</form>
						{% end %}
						{% if version.state == constants.VERSION.RUNNING %}
							<form method="POST" action="/version/{{ version.id }}/stop">
								<input type="submit" class="btn btn-mini" value="Stop" />
							</form>
						{% end %}
						{% if version.state == constants.VERSION.READY %}
							<form method="POST" action="/version/{{ version.id }}/deregister">
								<input type="submit" class="btn btn-mini" value="De Register" />
							</form>
						{% end %}
						{% if version.state == constants.VERSION.RUNNING %}
							<form method="POST" action="/application/{{ application.id }}/setcurrent">
								<input type="hidden" name="version_id" value="{{ version.id }}" />
								<input type="submit" class="btn btn-mini" value="Make Current" />
							</form>
						{% end %}
					</div>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
