/* Paasmaker - Platform as a Service
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Top left logo. */
body .navbar .brand
{
	padding: 5px 20px 3px;
}

@media (min-width: 1200px) {
	/* Make it use the whole browser width, for better tiled lists. */
	body .navbar .container
	{
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	body .navbar .pull-right
	{
		margin-right: 40px;
	}
}

body #main
{
	/* The main area is given a min-height to make sure that the footer
	   clears the loading div on page load. */
	min-height: 100px;

	/* Make it use the whole browser width, for better tiled lists. */
	width: 100%;
}

/* Main page loading screen */
.page-loading
{
	text-align: center;
	position: absolute;
	width: 100%;
}
.page-loading img
{
	display: block;
	margin: auto;
}

/* Footer */
.footer
{
	border-top: 1px solid #e0e0e0;
	text-align: center;
	padding-top: 2px;
}

/* Sidebars */
.sidebar
{
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	position: relative;
}

.sidebar .area-controls, .mainarea .area-controls
{
	position: absolute; right: 10px; top: 3px;
}

.sidebar .alert ul, .mainarea .alert ul
{
	margin-bottom: 0px;
}

/* Ajax interface loader */
.loading-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: white;
	opacity: 0.5;
}
.loading-overlay img
{
	position: absolute;
	top: 50%;
}

.sidebar .error .label { white-space: inherit; }

/* Main view area */
.mainarea
{
	position: relative;
}

/* UUID display for instances, nodes etc. */
code.uuid-shrink
{
	cursor: pointer;
}

/* Generic tile box lists. */
.tile
{
	float: left;
	width: 300px;

	/* Borrowed from the Bootstrap well and well-small styles, to save us
	 having to give those classes for every single tile. */
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	margin-right: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

	padding: 9px;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	      border-radius: 3px;
}
.tile .title, .tile .title-multilink
{
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.tile .title-status .status
{
	float: right;
}

.tile .title a
{
	display: block;
}

.tile .title .state
{
	float: right;
}

.graph-tile-inner
{
	width: 100%;
	height: 240px;
}

span.graph-title
{
	display: block;
	font-weight: bold;
	text-align: center;
}

/* Empty menu placeholders */

li.no-menu-items { font-size: smaller; font-style: italic; }
.application-list li.no-menu-items { margin: 20px 0; line-height: 21px; }
.node-list li.no-menu-items, .workspace-list li.no-menu-items { margin: 10px 15px; }

/* COMMON CSS STYLES */
ul.errors
{
	color: red;
	margin: 0px;
	list-style-type: none;
}

div.btn-group-header
{
	padding-bottom: 5px;
}

div.table-button-box form
{
	display: inline;
	margin: 0px;
}

textarea.example-configuration
{
	width: 100%;
	height: 600px;
	white-space: pre;
	font-family: monospace;
}

/* PAGINATION */
.pagination
{
	text-align: center;
}

/* JOB STATUSES */
div.job
{
	position: relative;
}

div.job .particulars
{
	margin-left: 25px;
}

div.job .children
{
	margin-left: 25px;
}

div.job .particulars .log
{
	display: none;
}

div.job .particulars .log pre.data
{
	height: 150px;
	overflow: auto;
}

div.job .particulars .summary-SUCCESS
{
	display: none;
}

.icon-loading
{
	background-image: url('../img/loading.gif');
	background-position: center center;
}

/* INSTANCE LOGS */
.instance-log-container pre
{
	height: 150px;
	overflow: auto;
}

/* ROUTER STATS */
.router-stats, .router-no-stats
{
	margin-bottom: 10px;

	float: right;
	right: 0px;

	min-height: 85px;
	width: 250px;
}

.router-stats .complete-title
{
	text-align: center;
	font-weight: bold;
}

.router-stats .stats-row .title
{
	display: block;
	float: left;
}

.router-stats .stats-row .value
{
	display: block;
	float: right;
	text-align: right;
}

.router-stats .stats-row .value .diff
{
}

.router-stats .stats-row.stat-1xx_percentage,
.router-stats .stats-row.stat-2xx_percentage,
.router-stats .stats-row.stat-3xx_percentage,
.router-stats .stats-row.stat-4xx_percentage,
.router-stats .stats-row.stat-5xx_percentage
{
	display: none;
}

.router-stats .secondary
{
	display: none;
}

.router-stats .graph
{
	margin-top: 5px;
	display: none;
	height: 100px;
}

.router-stats-collection .router-stats, .router-stats-collection .router-no-stats
{
	float: left;
	margin-right: 10px;
}

.router-stats-collection .router-stats .secondary
{
	display: block;
}

.router-stats-collection .router-stats .graph
{
	display: block;
}

.router-stats-collection .router-stats .btn-group
{
	display: none;
}

/* NODE SIDEBAR NAVIGATION */
.node-sidebar-list .title .name
{
	display: block;
	font-size: larger;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.node-sidebar-list .title .state { float: right; }
.node-sidebar-list .details { display: block; font-size: smaller; color: #999999; clear: right; }
.node-sidebar-list .active .details { color: #e5e5e5; }

/* Workspace view - application list */
#main_right_view { min-height: 400px; position: relative; }

.workspace-overview .overview-graph { width: 360px; height: 260px; padding: 10px; margin: 10px; position: relative; display: inline-block; border: 1px solid #E3E3E3; border-radius: 3px; }
.workspace-overview .overview-graph h3 { font-size: 13px; line-height: 15px; margin: 0; position: absolute; top: 10px; left: 0; width: 100%; text-align: center; }
.workspace-overview .overview-graph .graph-container { width: 100%; height: 240px; margin-top: 20px; }

/* Workspace view - job summary */
.workspace-overview table.jobs { width: 790px; margin: 10px; }

/* Workspace edit page */
.workspace-tag-editor { width: 480px; margin: 20px 0; }

/* Version view - instance types list */
.instance-type-column { width: 45%; float: left; }
.instance-type-column li { line-height: 24px; vertical-align: middle; }

/* Version view - quantity editor */
.instance-type-column .editable a i { vertical-align: -3px; /* TODO: compare Mac/Linux */ }
.instance-type-column .editable input { width: 50px; }

/* Version view - instance logs */
td.instance-log-button { width: 75px; }
td.instance-log-button a i { vertical-align: text-bottom; }

/* Node view - stats charts */
.node-chart
{
	display: inline-block;
	position: relative;
	width: 130px;
	height: 150px;
	margin-right: 15px;
	margin-bottom: 5px;
}
.node-chart .chart, .node-chart .legend
{
	position: absolute;
	left: 0;
	width:100px;
}
.node-chart .chart
{
	top: 0;
	height:100px;
}
.node-chart .legend
{
	top: 110px;
	height: 40px;
}

/* Node view - side menu (from old app_nav.html) */
.application-list-details { display: block; font-size: smaller; color: #999999; }
.active .application-list-details { color: #e5e5e5; }

/* Node view - instance list, runtime list */
.node-table-header th { background: #F9F9F9; /* from Bootstrap .table-striped */ }

/* Node view - list by type */
.node-list-category { width: 32%; float: left; margin-right: 5px; }
a.node-delete-button { float: right; margin: 5px 0; }

/* Node view - jobs list */
.all-jobs-button { float: right; }
.all-jobs-button a { font-weight: normal; }
table.jobs .job-overview { margin-bottom: 0; }

/* Separate node jobs list page */
h1 code.uuid-shrink { vertical-align: middle; font-size: 24px; }

/* New application / new version page */
.scm-container form label { width: 420px; line-height: 30px; height: 40px; }
.scm-container form label input { float: right; vertical-align: middle; }

.scm-container .tab-pane { position: relative; }
.scm-list-container { position: absolute; top: 0; right: 0; }
.scm-list-container h4 { margin: 0; font-size: inherit; font-weight: normal; font-style: italic; }

/* Editable field widget */
form.editable-field-form { display: inline-block; }
form.editable-field-form input { width: 135px; }

/* File upload widget */
/*.file-uploader-widget { margin: 10px 0 30px 0; }
.file-uploader-widget div.drop, .file-uploader-widget div.status { display: inline-block; width: 168px; text-align: left; margin-right: 30px; }*/

.file-uploader-widget div.status { font-style: italic; }
.file-uploader-widget progress { width: 220px; }
