
<h1>Nodes</h1>

<div class="node-list clearfix">
	{{% for(var i = 0; i < nodes.length; i++) { }}
		{{% var node = nodes[i] }}
		<div class="node tile">
			<div class="title">
				<span class="state">
					<span class="badge {{ stateClasses[node.attributes.state].badge }}" title="State: {{ node.attributes.state }}"><i class="{{ stateClasses[node.attributes.state].icon }} icon-white"></i></span>
				</span>
				{{% if(context.hasPermission('NODE_DETAIL_VIEW')) { }}
					<a href="/node/{{ node.attributes.id }}">
				{{% } }}

				{{ node.attributes.name }}

				{{% if(context.hasPermission('NODE_DETAIL_VIEW')) { }}
					</a>
				{{% } }}
			</div>
			<div class="body">
				{{% if (node.attributes.pacemaker) { }}
					<i class="icon-calendar"></i> Pacemaker
				{{% } }}
				{{% if (node.attributes.heart) { }}
					<i class="icon-heart"></i> Heart
				{{% } }}
				{{% if (node.attributes.router) { }}
					<i class="icon-random"></i> Router
				{{% } }}
				<br />
				<strong>Uptime:</strong> {{ node.uptimeString() }}
				<br />
				<strong>Last report:</strong> {{ node.attributes.updated_age.toFixed(2) }} seconds ago
				<br />
				<strong>Score:</strong> {{ node.attributes.score.toFixed(2) }}
			</div>
		</div>
	{{% } }}
</div>