{{% if(context.hasPermission('NODE_DETAIL_VIEW')) { }}
	<a href="/node/{{ node.attributes.id }}">
{{% } }}
<div class="title">
	<span class="state">
		<span class="badge {{ stateClasses[node.attributes.state].badge }}" title="State: {{ node.attributes.state }}"><i class="{{ stateClasses[node.attributes.state].icon }} icon-white"></i></span>
	</span>
	<span class="name">{{ node.attributes.name }}</span>
</div>
<div class="details">
	Score: {{ node.attributes.score.toFixed(2) }}, Last heard: {{ node.attributes.updated_age.toFixed(2) }}s
	{{% if(node.attributes.pacemaker) { }}
		<i class="icon-calendar" title="Pacemaker"></i>
	{{% } }}
	{{% if(node.attributes.heart) { }}
		<i class="icon-heart" title="Heart"></i>
	{{% } }}
	{{% if(node.attributes.router) { }}
		<i class="icon-random" title="Router"></i>
	{{% } }}
</div>
{{% if(context.hasPermission('NODE_DETAIL_VIEW')) { }}
	</a>
{{% } }}