{{!
  Paasmaker - Platform as a Service

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
}}{{#each statset}}
	<div class="stats-row clearfix">
		<span class="title">{{title}}:</span>
		<span class="value">{{value}}
			{{#if unit}}<span class="unit">{{unit}}</span>{{/if}}
			{{#if diff}} | <span class="diff">{{diff}}/s</span>{{/if}}
		</span>
	</div>
{{/each}}