<!-- Yes, this is ugly. TODO: some kind of real module handling that works in both paasmaker.js and qUnit -->

		<!-- Libraries -->
		<script src="{{ static_url("js/libs/jquery-1.8.3.min.js") }}"></script>
		<script src="{{ static_url("js/libs/jquery.json-2.4.min.js") }}"></script>
		<script src="{{ static_url("js/libs/jquery.flot.js") }}"></script>
		<!-- <script src="{{ static_url("js/libs/bootstrap.min.js") }}"></script> -->
		<script src="{{ static_url("js/libs/resumable.js") }}"></script>
		<script src="{{ static_url("js/libs/handlebars.js") }}"></script>

		<!-- Old interface code -->
		<script src="{{ static_url("js/stats/router.js") }}"></script>
		<script src="{{ static_url("js/logs/instance.js") }}"></script>
		<script src="{{ static_url("js/jobs/display.js") }}"></script>
		<script src="{{ static_url("js/widgets/upload.js") }}"></script>

		<!-- New interface code -->
		<script src="{{ static_url("js/pm.data.js") }}"></script>
		<script src="{{ static_url("js/pm.util.js") }}"></script>
		<script src="{{ static_url("js/pm.overview.js") }}"></script>
		<script src="{{ static_url("js/pm.workspace.js") }}"></script>

		<!-- Manifest editor -->
		<!-- <script src="{{ static_url("js/libs/js-yaml.js") }}"></script>
		<script src="{{ static_url("js/libs/later-cron.js") }}"></script>
		<script src="{{ static_url("js/libs/moment.js") }}"></script>
		<script src="{{ static_url("js/libs/prettycron.js") }}"></script>
		<script src="{{ static_url("js/libs/jquery.jsoneditor.js") }}"></script>
		<script src="{{ static_url("js/manifest.js") }}"></script> -->
