<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Paasmaker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% module Template("include/css.html") %}
	</head>
	<body>
		{% module Template("include/top_bar.html") %}

		<div id="main">
			<p class="initial_loading"><img src="{{ static_url("img/load-inline.gif") }}" alt=""> Page still loading, yo.</p>
		</div>

		<script src="/my-permissions.js"></script>
		{% module Template("javascript.html") %}
	</body>
</html>
