<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Paasmaker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Le styles -->
		<!-- <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
		<link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet"> -->
		<link href="{{ static_url("css/paasmaker-new.css") }}" rel="stylesheet">

		<!-- Le fav and touch icons -->
		{# <link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> #}

		<!-- <script src="{{ static_url("js/libs/modernizr-2.6.2.min.js") }}"></script> -->
	</head>
	<body>
		<div id="top_bar">
			<!-- TODO: CSS background -->
			<div class="logo"><img src="{{ static_url("img/paasmaker-logo-alpha.png") }}" alt="Paasmaker"></div>

			<div class="login_links">
				{% if current_user %}
					Logged in as <a href="/profile" class="navbar-link">{{ current_user.name }}</a>. <a href="/logout">Logout</a>
				{% else %}
					<a href="/login">Login</a>
				{% end %}
			</div>
		</div>

		{# Don't bother showing any of this if you're not logged in; TODO: redirect to login page #}
		{% if current_user %}
			{% if user_permissions.has_permission(PERMISSION.SYSTEM_OVERVIEW, None) %}
				<!-- TODO: return permissions in JSON -->
			{% end %}
			<div id="main">
				<p><img src="{{ static_url("img/load-inline.gif") }}" alt=""> Page still loading, yo.</p>
			</div>

		{% else %}
			{% module Template("login/login-new.html", external_logins=[]) %}
		{% end %}

		<!-- Libraries -->
		<script src="{{ static_url("js/libs/jquery-1.8.3.min.js") }}"></script>
		<script src="{{ static_url("js/libs/jquery.json-2.4.min.js") }}"></script>
		<script src="{{ static_url("js/libs/jquery.flot.js") }}"></script>
		<script src="{{ static_url("js/libs/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/libs/resumable.js") }}"></script>
		<script src="{{ static_url("js/libs/socket.io.js") }}"></script>

		<!-- Old interface code -->
		<script src="{{ static_url("js/libs/modernizr-2.6.2.min.js") }}"></script>
		<script src="{{ static_url("js/paasmaker.js") }}"></script>
		<script src="{{ static_url("js/stats/router.js") }}"></script>
		<script src="{{ static_url("js/logs/instance.js") }}"></script>
		<script src="{{ static_url("js/jobs/display.js") }}"></script>
		<script src="{{ static_url("js/widgets/upload.js") }}"></script>

		<!-- Manifest editor -->
		<!-- <script src="{{ static_url("js/libs/js-yaml.js") }}"></script>
		<script src="{{ static_url("js/libs/later-cron.js") }}"></script>
		<script src="{{ static_url("js/libs/moment.js") }}"></script>
		<script src="{{ static_url("js/libs/prettycron.js") }}"></script>
		<script src="{{ static_url("js/libs/jquery.jsoneditor.js") }}"></script>
		<script src="{{ static_url("js/manifest.js") }}"></script> -->
	</body>
</html>
