<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Paasmaker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% module Template("include/css.html") %}
		<link href="{{ static_url("js/libs/qunit-1.11.0.css") }}" rel="stylesheet">
	</head>
	<body>
		{% module Template("include/top_bar.html") %}

		<div id="main">
			<div id="qunit"></div>
	  		<div id="qunit-fixture"></div>
  		</div>

		{% module Template("javascript.html") %}

		<script src="{{ static_url("js/libs/qunit-1.11.0.js") }}"></script>
		<script src="{{ static_url("js/qunit.js") }}"></script>
	</body>
</html>
