{% extends "layout/main.html" %}

{% block body %}
	{% if not user_permissions.has_permission(PERMISSION.SYSTEM_ADMINISTRATION, None) %}
		<h1>Warning: you don't have sufficient permissions to use all features on this page</h1>
	{% end %}


	<h1>Application manifest editor</h1>

	<style type="text/css">
		/*@font-face { font-family: Inconsolata; src: url('{{ static_url("font/Inconsolata.ttf") }}'); font-weight: normal; font-style: normal; }*/

		#pm_manifest_yaml_form { position: relative; width: 46%; height: 400px; padding: 5px; margin: 0; float: left; }
		#pm_manifest_yaml_block { width: 100%; height: 400px; margin: 0; padding: 5px; font-family: monospace; }

		#pm_manifest_rendered { width: 46%; margin: 0 0 0 4%; padding: 0; float: left; }

		.pm-manifest-error { position: absolute; padding: 2px 8px 2px 19px; text-indent: -16px; background: #e06666; color: #ffffff; font-size: 11px; line-height: 13px; }
		.pm-manifest-error-line { left: 8px; }
		.pm-manifest-error-general { right: 0; }

		.pm-bare-plugin-name { background: url('/static/img/load-inline.gif') 0 4px no-repeat; padding-left: 20px; }
	</style>

	<div id="pm_manifest_container">
		<form id="pm_manifest_yaml_form">
			<!-- wrap="off" ??? -->
			<textarea id="pm_manifest_yaml_block" wrap="off">
				hello
			</textarea>
		</form>

		<form id="pm_manifest_rendered"></form>
	</div>

{% end %}

{% block scripts %}
	<script src="{{ static_url("js/libs/js-yaml.js") }}"></script>
	<script src="{{ static_url("js/libs/later-cron.js") }}"></script>
	<script src="{{ static_url("js/libs/moment.js") }}"></script>
	<script src="{{ static_url("js/libs/prettycron.js") }}"></script>
	<script src="{{ static_url("js/libs/jquery.jsoneditor.js") }}"></script>
	<script src="{{ static_url("js/manifest.js") }}"></script>
{% end %}
{% block styles %}
	<link href="{{ static_url("css/tag_editor.css") }}" rel="stylesheet">
{% end %}
