{% extends "../layout/main.html" %}

{% block pretitle %}
	{% module Template("include/router_stats.html", router_stats=router_stats, router_stats_display=router_stats_display) %}
{% end %}

{% block pagetitle %}
	Node {{ node.name }}
{% end %}

{% block body %}
	<ul>
		<li>Name: {{ node.name }}</li>
		<li>UUID: <code>{{ node.uuid }}</code></li>
		<li>Route: {{ node.route }}:{{ node.apiport }}</li>
		<li>State: {{ node.state }}</li>
		<li>Last report: {{ str(node.last_heard) }} UTC ({{ "%0.2f" % node.updated_age() }}s ago)</li>
		<li>
			{% if node.pacemaker %}<i class="icon-calendar"></i> Pacemaker<br />{% end %}
			{% if node.heart %}<i class="icon-heart"></i> Heart<br />{% end %}
			{% if node.router %}<i class="icon-random"></i> Router<br />{% end %}
		</li>
	</ul>

	<h2>Runtimes</h2>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Versions</th>
		</tr>
		{% for runtime, versions in node.tags['runtimes'].iteritems() %}
			<tr>
				<td>{{ runtime }}</td>
				<td>{{ ", ".join(versions) }}</td>
			</tr>
		{% end %}
	</table>

	<h2>Instances</h2>
	<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Application</th>
			<th>Version</th>
			<th>State</th>
		</tr>
		{% for instance in node.instances %}
			<tr>
				<td>
					<code>{{ instance.instance_id[0:8] }}</code>
				</td>
				<td>
					<a href="/application/{{ instance.application_instance_type.application_version.application.id }}">
						{{ instance.application_instance_type.application_version.application.name }}
					</a>
				</td>
				<td>
					{{ instance.application_instance_type.application_version.version }}
				</td>
				<td>
					{{ instance.state }}
				</td>
			</tr>
		{% end %}
	</table>

	<h2>Tags</h2>
	<pre>{{ json.dumps(node.tags, indent=4, sort_keys=True) }}</pre>
{% end %}
