{% extends "../layout/main.html" %}

{% block pagetitle %}
	Nodes
{% end %}

{% block body %}
	<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Route</th>
			<th>Roles</th>
			<th>State</th>
		</tr>
		{% for node in nodes %}
			<tr>
				<td>
					<code>{{ node.uuid[0:8] }}</code>
				</td>
				<td>
					<a href="/node/{{ node.id }}">{{ node.name }}</a>
				</td>
				<td>
					{{ node.route }}:{{ node.apiport }}
				</td>
				<td>
					{% if node.pacemaker %}Pacemaker{% end %}
					{% if node.heart %}Heart{% end %}
					{% if node.router %}Router{% end %}
				</td>
				<td>
					<span class="node-{{ node.state }}">{{ nice_state(node.state) }}</span>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
