{% extends "../layout/main.html" %}

{% block pagetitle %}
	<h1>NGINX Configuration</h1>
{% end %}

{% block body %}
	<p class="lead">This is a suggested NGINX configuration file based on your setup.</p>

	<div class="alert">
		You MUST use <a href="http://openresty.org/">OpenResty's NGINX distribution</a>.
		It includes all the relevant patches that you will need to make Paasmaker work.
	</div>

	<p>
		<textarea readonly="readonly" class="example-configuration">{{ configuration['configuration'] }}</textarea>
	</p>
{% end %}
