{% extends "../layout/main.html" %}

{% block body %}
	<h1>Login to {% if cluster_name %}{{ cluster_name }}{% else %}Paasmaker{% end %}</h1>
	<form method="POST">
		<label for="username">Username:<label>
		<input type="text" name="username" id="username" required="required" />
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required="required" />
		<br />
		<input type="submit" class="btn" value="Login" />
	</form>

	{% if len(external_logins) > 0 %}
		<h2>Or login using...</h2>
		<ul>
			{% for external in external_logins %}
				<li>
					<a href="{{ external['uri'] }}">
						{# TODO: Implement image feature. #}
						{{ external['text'] }}
					</a>
				</li>
			{% end %}
		</ul>
	{% end %}
{% end %}

{% block scripts %}
	<script type="text/javascript">
		$(function() {
			if ($('#username').val() == '') {
				$('#username').focus();
			} else {
				$('#password').focus();
			}
		});
	</script>
{% end %}
