{% extends "../layout/main.html" %}

{% block pretitle %}
	{% module Template("include/router_stats.html", router_stats=router_stats, router_stats_display=router_stats_display) %}
{% end %}

{% block pagetitle %}
	Application List - {{ workspace.name }}
{% end %}

{% block body %}
	<div class="btn-group btn-group-header">
		<a class="btn" href="/workspace/list">Workspaces</a>
		<a class="btn" href="/workspace/{{ workspace.id }}/applications/new">Create Application</a>
		<a class="btn" href="/job/list/workspace/{{ workspace.id }}">All Jobs</a>
		<a class="btn" href="/job/list/workspace/{{ workspace.id }}?sub=cron">Cron Jobs</a>
	</div>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Application</th>
			<th>Health</th>
			<th>Versions</th>
			<th>Services</th>
		</tr>
		{% for application in applications %}
			<tr>
				<td>
					{{ application.name }}
					{% if has_permission(PERMISSION.APPLICATION_DELETE, application.workspace) %}
						{% if application.can_delete() %}
							<form method="POST" action="/application/{{ application.id }}/delete" style="display: inline;">
								<input type="submit" class="btn btn-mini btn-danger" value="Delete" />
							</form>
						{% end %}
					{% end %}
				</td>
				<td>
					{{ application.health }}
				</td>
				<td>
					<a href="/application/{{ application.id }}">
						{{ application.versions.filter(paasmaker.model.ApplicationVersion.deleted == None).count() }} versions
					</a>
				</td>
				<td>
					{% if has_permission(PERMISSION.APPLICATION_SERVICE_DETAIL, application.workspace) %}<a href="/application/{{ application.id }}/services">{% end %}
						{{ len(application.services) }} services
					{% if has_permission(PERMISSION.APPLICATION_SERVICE_DETAIL, application.workspace) %}</a>{% end %}
				</td>
			</tr>
		{% end %}
	</table>

	{% module Template("include/pagination.html", page_data=applications_pagination) %}
{% end %}
