<ul class="breadcrumb"></ul>

<h1>
	{% if new_application %}
		New Application - {{ workspace.name }}
	{% else %}
		New Version - {{ application.name }}
	{% end %}
</h1>

<div class="scm-container tabbable">
	<ul class="nav nav-tabs">
		{% for scm in scms %}

			<li class="{% if last_scm_name == scm['plugin'] %}active{% end %}">
				<a href="#tab-{{ scm['plugin'].replace('.', '-') }}">
					{{ scm['title'] }}
				</a>
			</li>
		{% end %}
	</ul>
	<div class="tab-content">
		{% for scm in scms %}
			<div class="tab-pane {% if last_scm_name == scm['plugin'] %}active{% end %}" id="tab-{{ scm['plugin'].replace('.', '-') }}">

				{% if len(scm['listers']) > 0 %}
					<div class="scm-list-container well">
						{% for lister in scm['listers'] %}
							<h4>{{ lister['title'] }}</h4>
							<select class="scm-list" data-plugin="{{ lister['plugin'] }}">
								<option value="">Loading...</option>
							</select>
						{% end %}
					</div>
				{% end %}

				<form method="POST" class="scm-form">
					<input type="hidden" name="scm" value="{{ scm['plugin'] }}" />

					{% raw scm['form'] %}

					<label>
						Manifest Path:
						<input name="manifest_path" id="manifest_path" type="text" value="{% if 'manifest_path' in last_scm_params %}{{ last_scm_params['manifest_path'] }}{% else %}manifest.yml{% end %}" required="required">
					</label>

					<div class="scm-form-submit">
						<a class="btn btn-success job-action-button" href="#">
							Create <i class="icon-chevron-right icon-white"></i>
						</a>
					</div>
				</form>
			</div>
		{% end %}
	</div>
</div>
