
<h1>Application {{ application.attributes.name }}</h1>

<div class="row-fluid">
	<div class="span8">
		<div class="btn-toolbar">
			{{% if (context.hasPermission('APPLICATION_CREATE', application.workspace_id)) { }}
				<div class="btn-group btn-group-header">
					<a class="btn virtual" href="/application/{{ application.id }}/newversion"><i class="icon-plus"></i> Create new version</a>
				</div>
			{{% } }}
			<div class="btn-group btn-group-header">
				<a class="btn virtual" href="/job/list/application/{{ application.id }}">All Jobs</a>
				{{% if (context.hasPermission('SERVICE_VIEW', application.workspace_id)) { }}
					<a class="btn virtual" href="/application/{{ application.id }}/services">Services</a>
				{{% } }}
				<a class="btn virtual" href="/job/list/application/{{ application.id }}?sub=cron">Crons</a>
			</div>
			{{% if (context.hasPermission('APPLICATION_DELETE') && application.attributes.can_delete) { }}
				<div class="btn-group btn-group-header">
					<a class="btn btn-danger deleteApplication"><i class="icon-trash icon-white"></i> Delete Application</a>
				</div>
			{{% } }}
		</div>

		<p class="lead">Health: {{ application.attributes.health }}</p>
	</div>
	<div class="span4">
		<div class="well well-small router-stats">Loading router stats...</div>
	</div>
</div>

<div class="deleteConfirm well well-small" style="display: none;">
	<p>Are you sure you want to delete this application? All services and their data will be deleted. This can not be undone.</p>
	<button class="realDelete btn btn-danger">Delete</button> <button class="noDelete btn">Cancel</button>
</div>

<div class="version-list clearfix">
	{{% for(var i = 0; i < application.attributes.versions.length; i++) { }}
		{{% var version = new VersionModel(application.attributes.versions[i]) }}
		{{% version.attributes.workspace = {id: application.attributes.workspace_id} }}
		<div class="version tile">
			<div class="title title-status">
				{{% if(version.attributes.is_current) { }}<strong>{{% } }}
				<a href="/version/{{ version.id }}" class="virtual">Version {{ version.attributes.version }} {{% if (version.attributes.state == 'RUNNING') { }}<i class="icon-play"></i>{{% } }}{{% if(version.attributes.is_current) { }}<i class="icon-star"></i>{{% } }}</a>
				{{% if(version.attributes.is_current) { }}</strong>{{% } }}
			</div>
			<div class="body">
				<strong>State:</strong>

					{{ version.attributes.state }},
					{{% if(version.attributes.is_current) { }}
						Current Version
					{{% } else { }}
						Not current
					{{% } }}
				<br />
				<strong>Health:</strong> {{ version.attributes.health.overall }}
				<br />
				{{% var actions = [] }}
				{{% if(version.canRegister(context)) { }}
					{{% actions.push('<a class="btn btn-success btn-mini register" data-version="{{ version.id }}">Register</a>') }}
				{{% } }}
				{{% if(version.canStart(context)) { }}
					{{% actions.push('<a class="btn btn-success btn-mini start" data-version="{{ version.id }}">Start</a>') }}
				{{% } }}
				{{% if(version.canStop(context)) { }}
					{{% actions.push('<a class="btn btn-danger btn-mini stop" data-version="{{ version.id }}">Stop</a>') }}
				{{% } }}
				{{% if(version.canDeregister(context)) { }}
					{{% actions.push('<a class="btn btn-warning btn-mini deregister" data-version="{{ version.id }}">Deregister</a>') }}
				{{% } }}
				{{% if(version.canMakeCurrent(context)) { }}
					{{% actions.push('<a class="btn btn-info btn-mini makecurrent" data-version="{{ version.id }}">Make Current</a>') }}
				{{% } }}
				{{% if(version.canDelete(context)) { }}
					{{% actions.push('<a class="btn btn-danger btn-mini deleteVersion" data-version="{{ version.id }}">Delete</a>') }}
				{{% } }}

				<div class="btn-group">
					{{= actions.join(" &middot; ") }}
				</div>
			</div>
		</div>
	{{% } }}
</div>