{% extends "../layout/main.html" %}

{% block pagetitle %}
	<h1>User Editor</h1>
{% end %}

{% block body %}
	<form method="POST">
		<label for="name">Name:</label>
		<input name="name" id="name" type="text" value="{{ user.name }}" />
		{% raw format_form_error('name') %}

		<label for="login">Login:</label>
		<input name="login" id="login" type="text" value="{{ user.login }}" />
		{% raw format_form_error('login') %}

		<label for="email">Email address:</label>
		<input name="email" id="email" type="email" value="{{ user.email }}" />
		{% raw format_form_error('email') %}

		<label for="password">Password:</label>
		<input name="password" id="password" type="password" value="" />
		{% raw format_form_error('password') %}

		<label for="enabled" class="checkbox">
			<input name="enabled" id="enabled" type="checkbox" {% if user.enabled %}checked="checked"{% end %} />
			Enabled
		</label>

		<button type="submit" class="btn">Submit</button>
	</form>
{% end %}
