{{# each versions}}
	<li class="version {{#if is_active}}active{{/if}}" data-version-id="{{id}}">
		<a href="/version/{{id}}">
			<span class="application-list-version">
				Version {{version}}
				{{#if is_current}}
					<i class="icon-star {{#if is_active}}icon-white{{/if}}" title="Version is current"></i>
				{{/if}}
			</span>
		</a>
	</li>
{{/each}}
