<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if cluster_name %}{{ cluster_name }} - {% end %}{% block headtitle %}{% end %} Paasmaker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="icon" href="{{ static_url("img/favicon.ico") }}" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

		<link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="{{ static_url("css/bootstrap-responsive.css") }}" rel="stylesheet">
		<link href="{{ static_url("css/paasmaker.css") }}" rel="stylesheet">
		{% block styles %}
		{% end %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/"><img src="{{ static_url("img/pm-dark-32.png") }}" width="143" height="32" alt="Paasmaker"></a>
			<div class="nav-collapse">
				{% if is_pacemaker %}
					<p class="navbar-text pull-right hidden-phone hidden-tablet">
						{% if current_user %}
							Logged in as <a href="/profile" class="navbar-link">{{ current_user.name }}</a>. <a href="/logout">Logout</a>
						{% else %}
							<a href="/login">Login</a>
						{% end %}
					</p>

					<ul class="nav">
						{# Don't bother showing any of this if you're not logged in. #}
						{% if current_user %}
							<li>
								<a href="/workspace/list">Workspaces</a>
							</li>
							<li>
								<a href="/node/list">Nodes</a>
							</li>
							<li>
								<a href="/administration/list">Administration</a>
							</li>
						{% end %}
					</ul>
				{% end %}
			</div><!--/.nav-collapse -->
		</div>
		</div>
		</div>

		<div class="container" id="main">
			<div id="error-block">
				{% block errors %}
					{% if len(errors) > 0 %}
						<div class="alert alert-error">
							<ul class="errors">
								{% for error in errors %}
									<li>{{ error }}</li>
								{% end %}
								{% try %}
									{% for key, error in input_errors.iteritems() %}
										<li>{{ key }}: {{ error }}</li>
									{% end %}
								{% except NameError, ex %}
									{# Does't have input errors. Ignore. #}
								{% end %}
							</ul>
						</div>
					{% end %}
				{% end %}
			</div>

			{% block body %}
			{% end %}
		</div>

		{% if is_pacemaker %}
			<div class="hidden-desktop footer">
				{% if current_user %}
					Logged in as <a href="/profile" class="navbar-link">{{ current_user.name }}</a>. <a href="/logout">Logout</a>
				{% else %}
					<a href="/login">Login</a>
				{% end %}
			</div>
		{% end %}

		{% if debug %}
			<script data-main="/static/js/main" src="{{ static_url("js/libs/require/require.js") }}"></script>
			{# You should check in the updated main-built.js, as that's the production version. #}
			<script src="/development/rebuild-javascript.txt" type="text/plain"></script>
		{% else %}
			<script data-main="/static/js/main-built" src="{{ static_url("js/libs/require/require.js") }}"></script>
		{% end %}

		{% block scripts %}
		{% end %}
	</body>
</html>
