{% extends "../layout/main.html" %}

{% block pagetitle %}
	Workspace Editor
{% end %}

{% block body %}
	<form method="POST">
		<label for="name">Name:</label>
		<input name="name" id="name" type="text" value="{{ workspace.name }}" />
		{% raw format_form_error('name') %}

		<label>Tags:</label>
		<div class="workspace-tag-editor">
			<div class="output">
				{% for tag, value in workspace.tags.iteritems() %}
					<input type="hidden" name="tags.{{ tag }}" value="{{ value }}" />
				{% end %}
			</div>
			<div class="editor">
				{% for tag, value in workspace.tags.iteritems() %}
					<div class="pair">
						<input type="text" class="tag" value="{{ tag }}" />
						<input type="text" class="value" value="{{ value }}" />
					</div>
				{% end %}
			</div>
		</div>
		{% raw format_form_error('tags') %}
		<br />

		<input type="submit" class="btn" value="Submit" />
	</form>
{% end %}
