{% extends "../layout/main.html" %}

{% block pagetitle %}
	Workspace List
{% end %}

{% block body %}
	<div class="button-box">
		<a class="btn" href="/workspace/create">Create a new workspace</a>
	</div>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Workspace</th>
			<th>Applications</th>
			<th>Jobs</th>
		</tr>
		{% for workspace in workspaces %}
			<tr>
				<td>
					<a href="/workspace/{{ workspace.id }}">{{ workspace.name }}</a>
				</td>
				<td>
					<a href="/workspace/{{ workspace.id }}/applications">{{ len(workspace.applications) }} applications</a>
				</td>
				<td>
					<a href="/job/list/workspace/{{ workspace.id }}">Jobs</a>
				</td>
			</tr>
		{% end %}
	</table>

	{% module Template("include/pagination.html", page_data=workspaces_pagination) %}
{% end %}
