{% extends "../layout/main.html" %}

{% block pagetitle %}
	Workspace List
{% end %}

{% block body %}
	<p><a href="/workspace/create">Create a new workspace</a></p>

	<table class="table">
		<tr>
			<th>Workspace</th>
			<th>Applications</th>
		</tr>
		{% for workspace in workspaces %}
			<tr>
				<td>
					<a href="/workspace/{{ workspace.id }}">{{ workspace.name }}</a>
				</td>
				<td>
					<a href="/workspace/{{ workspace.id }}/applications">{{ len(workspace.applications) }} applications</a>
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
