<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block headtitle %}{% end %} Paasmaker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
		<link href="{{ static_url("css/paasmaker.css") }}" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>

		<!-- Le fav and touch icons -->
		{# <link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> #}

		<script src="{{ static_url("js/libs/modernizr-2.6.2.min.js") }}"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">Paasmaker</a>
			<div class="nav-collapse collapse">
				<p class="navbar-text pull-right">
					{% if current_user %}
						Logged in as <a href="/profile" class="navbar-link">{{ escape(current_user.name) }}</a>. <a href="/logout">Logout</a>
					{% else %}
						<a href="/login">Login</a>
					{% end %}
				</p>
				<ul class="nav">
					<li><a href="/information">Information</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/workspace/list">Workspaces</a></li>
							<li><a href="/user/list">Users</a></li>
							<li><a href="/role/list">Roles</a></li>
							<li><a href="/role/allocation/list">Role Allocations</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
		</div>
		</div>

		<div class="container">
			<h1>{% block pagetitle %}{% end %}</h1>

			{% block errors %}
				{% if len(errors) > 0 %}
					<ul class="errors">
						{% for error in errors %}
							<li>{{ escape(error) }}</li>
						{% end %}
					</ul>
				{% end %}
			{% end %}

			{% block body %}
			{% end %}
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{{ static_url("js/libs/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/libs/resumable.js") }}"></script>
		<script src="{{ static_url("js/script.js") }}"></script>
	</body>
</html>