{% extends "../layout/main.html" %}

{% block pagetitle %}
	User Editor
{% end %}

{% block body %}
	<h1>User</h1>

	<form method="POST">
		<div class="row">
			<label for="name">Name:</label>
			<input name="name" id="name" type="text" value="{{ form.get('name') }}" />
			{{ format_form_error(form, 'name') }}
		</div>
		<div class="row">
			<label for="login">Login:</label>
			<input name="login" id="login" type="text" value="{{ form.get('login') }}" />
			{{ format_form_error(form, 'login') }}
		</div>
		<div class="row">
			<label for="email">Email address:</label>
			<input name="email" id="email" type="email" value="{{ form.get('email') }}" />
			{{ format_form_error(form, 'email') }}
		</div>
		<div class="row">
			<label for="password">Password:</label>
			<input name="password" id="password" type="password" value="" />
			{{ format_form_error(form, 'password') }}
		</div>
	</form>
{% end %}
