{% extends "../layout/main.html" %}

{% block pagetitle %}
	User Editor
{% end %}

{% block body %}
	<form method="POST">
		<label for="name">Name:</label>
		<input name="name" id="name" type="text" value="{{ form.get('name') }}" />
		{% raw format_form_error(form, 'name') %}

		<label for="login">Login:</label>
		<input name="login" id="login" type="text" value="{{ form.get('login') }}" />
		{% raw format_form_error(form, 'login') %}

		<label for="email">Email address:</label>
		<input name="email" id="email" type="email" value="{{ form.get('email') }}" />
		{% raw format_form_error(form, 'email') %}

		<label for="password">Password:</label>
		<input name="password" id="password" type="password" value="" />
		{% raw format_form_error(form, 'password') %}

		<br />
		<button type="submit" class="btn">Submit</button>
	</form>
{% end %}
