{% extends "../layout/main.html" %}

{% block pagetitle %}
	User List
{% end %}

{% block body %}
	<div class="btn-group btn-group-header">
		<a class="btn" href="/user/create">Create User</a>
	</div>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Authentication Method</th>
			<th>Login</th>
			<th>Created</th>
			<th>Enabled</th>
		</tr>
		{% for user in users %}
			<tr>
				<td>
					<a href="/user/{{ user.id }}">{{ user.name }}</a>
				</td>
				<td>
					{{ user.auth_source }}
				</td>
				<td>
					{{ user.login }}
				</td>
				<td>
					{{ str(user.created) }}
				</td>
				<td>
					{% if user.enabled %}
						Enabled
					{% else %}
						Disabled
					{% end %}
				</td>
			</tr>
		{% end %}
	</table>

	{% module Template("include/pagination.html", page_data=users_pagination) %}
{% end %}
