{% extends "../layout/main.html" %}

{% block pagetitle %}
	User List
{% end %}

{% block body %}
	<div class="button-box">
		<a class="btn" href="/user/create">Create a new user</a>
	</div>

	<table class="table">
		<tr>
			<th>Name</th>
			<th>Login</th>
			<th>Created</th>
		</tr>
		{% for user in users %}
			<tr>
				<td>
					<a href="/user/{{ user.id }}">{{ user.name }}</a>
				</td>
				<td>
					{{ user.login }}
				</td>
				<td>
					{{ str(user.created) }}
				</td>
			</tr>
		{% end %}
	</table>
{% end %}
