
<h1>{{% if (newRole) { }}Create role{{% } else { }}Edit role{{% } }}</h1>

<form method="POST">
	<label for="name">Name:</label>
	<input name="name" id="name" type="text" value="{{ role.attributes.name }}" />

	<p>Permissions:</p>
	{{% for(var i = 0; i < availablePermissions.length; i++) { }}
		{{% var permission = availablePermissions[i] }}
		<label class="checkbox">
			<input type="checkbox" name="{{ permission }}" {{% if(_.indexOf(role.attributes.permissions, permission) != -1) { }}checked="checked"{{% } }} value="{{ permission }}" />
			{{ permission }}
		</label>
	{{% } }}

	<br />
	<button type="submit" class="btn">Submit</button>
</form>